<nav id="header" class="btm-blk pt-5 pb-5">
    <div class="mw-600 m0-auto w100pc center-align">
        <div class="flex justify-flex m0-auto float-right">
            <a class="bg-center home-icon h40 w40 bg-s40 ptr ml-5 mr-5" href="/"></a>
            <a class="bg-center contact-logo h40 w40 bg-s40 ptr ml-5 mr-5" href="/contact/"></a>
            <a class="bg-center posts-icon h40 w40 bg-s40 ptr ml-5 mr-5" href="/tags/"></a>
            <a class="bg-center about-logo h40 w40 bg-s40 ptr ml-5 mr-5" href="/about/"></a>
        </div>
    </div>
</nav>